/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Mar-2017, 18:04:23
    Author     : Zulkifel
*/

.container-fluid {
    padding-right: 60px;
    padding-left: 60px;
}
.scholarshipsection {
    min-height: 540px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/section/Scholarship.png');
}
.edgesection {
    min-height: 540px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/section/SolutionSection.png');
}
.statspsection {
    min-height: 295px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #254F7F;
}
.howitworksection {
    min-height: 540px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/section/Howitwork.jpg');
}
.testimonialssection {
    min-height: 490px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E5E5E5;
}
.section-heading {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 700;
}
.section-testimonials-heading {
    font-size: 36px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 50px;
}
.section-button {
    -moz-border-radius: 10;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    color: #ffffff;
    font-size: 14px;
    background: #FF6600;
    padding: 8px 10px 8px 10px;
    text-decoration: none !important;
}
.tutorsection {
    min-height:90px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #589F1E;
}
.section-button:hover {
    background: #FF7C24;
    text-decoration: none !important;
}
.white {
    color: #FFFFFF;
}
.orange {
    color: #FF6600;
}
.blank_row {
    height: 15px !important;
    margin-top: 60px;
}
.text_detail {
    font-size: 20px;
}
.img-statistics {
    display: block;
    margin: 0 auto;
}
.becometutor {
    font-size: 30px;
    font-weight: bold;
}
.tutorbutton {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    background: transparent;
    margin-left: 15px;
    font-family: "Aspira Light";
    padding: 12.5px 20px 10px 20px;
    border: solid #FFFFFF 1px;
    font-weight: bold;
    text-decoration: none;
}
.tutorbutton:hover {
    text-decoration: none;
}
footer {
    padding: 25px 0px;
    color: #FFFFFF;
    background-color: #1A1A1A;
}
.copyright {
    line-height: 40px;
    font-family: "Aspira Light";
    color: #939598;
    margin-bottom: 25px;
    text-transform: none;
}
footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Aspira Light";
    text-transform: uppercase;
    text-transform: none;
}
ul.social-buttons {
    margin-bottom: 0;
    margin-top: 50px;
}
ul.social-buttons li a {
    display: block;
    background-color: #222222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding-left: 10px;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136;
}
.margin-bottom-50 {
    margin-bottom: 35px;
}
.AboutSolutionInn {
    color: #939598;
    font-size: 14px;
}
footer li a {
    color: #939598 !important;
    font-size: 14px;
}
.footer-address {
    font-size: 14px;
    color: #939598;
}
.copyrightrow {
    background-color: #101010;
}
.blueanchor {
    color: #4f86C9 !important;
}
.m-y-40 {
    margin-top: 20px;
    margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
    .becometutor {
        font-size: 18px;
        font-weight: bold;
    }
    .centralizing {
        margin-top: 15%;
    }
    .section-testimonials-heading {
        font-size: 24px;
    }
    .testimonial .testimonial-description {
        font-size: 12px !important;
    }
    .testimonial .testimonial-title {
        font-size: 14px;
    }
    .section-heading {
        font-size: 18px;
    }
    .sm-margin {
        margin-top: 10px;
    }
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
    .text_detail {
        font-size: 14px;
    }
}
@media screen and (max-width: 319px) 
{
    .tutorbutton {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 8px;
    color: #ffffff;
    font-size: 10px;
    background: transparent;
    margin-left: 15px;
    font-family: "Aspira Light";
    padding: 9.5px 16px 8px 16px;
    border: solid #FFFFFF 1px;
    font-weight: bold;
    text-decoration: none;
}

    
}
.UK_Address {
    color: #1A1A1A !important;
}
.heading_section
{
    font-size: 46px;
}